
/*     font-family: 'Chivo', sans-serif;

    font-family: 'Hammersmith One', sans-serif;

    font-family: 'Secular One', sans-serif;

    font-family: 'Staatliches', cursive; */


body {
    margin: 0;
    padding: 0;
    font-family: chivo;
    background-color: #f1f1f1;
}

header {
    box-shadow: 0px -4px 15px 10px rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: white;
    position: relative;
}

header h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Chivo';
    font-weight: 400;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto auto auto auto;
    left: 0;
    right: 0;
    top: 35px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.692);
}

header p {
    position: absolute;
    top: 93px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
    color: white;
    font-family: chivo;
    font-weight: 300;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.692);
}

#headerbg {
    object-fit: cover;
    object-position: top;
    height: 150px;
    width: 100%;
    filter: brightness(87%);
}

#newPlant {
    margin: 20px auto 0 auto;
    display: block;
    background-color: #4f8d41;
    color: white;
    font-weight: 300;
    font-style: italic;
    border: none;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    padding: 8px;
    font-family: chivo;
    font-size: 18px;
    box-shadow: 0px 5px 13px -2px rgba(0, 0, 0, .40);
    font-weight: 500;
}

#newPlant:hover {
    background-color: rgb(86, 155, 71);
}

#newPlantWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .33);
    backdrop-filter: blur(5px);
}

#window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#newPlantWindow button{
    background-color: rgb(79, 141, 65);
    color: white;
    font-size: 15px;
    border: none;
    width: 120px;
    height: 55px;
    border-radius: 5px;
    font-family: chivo;
    font-weight: 300;
    font-style: italic;
    box-shadow: 0px 5px 13px -2px rgba(0, 0, 0, .40);
}

#newPlantWindow button:hover {
    background-color: rgb(86, 155, 71);
}

.tilecontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
}

.plantcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 315px;
    min-width: 315px;
    height: 500px;
    box-shadow: 0px 5px 13px -2px rgba(0, 0, 0, .40);
}

.plantcontainer img {
    width: 225px;
    height: 260px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .33);
    margin-top: 15px;
}

.plantcontainer i {
    width: 225px;
    height: 275px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .33);
    margin-top: 15px;
    padding-top: 20%;
}

.plantcontainer h1 {
    font-family: 'staatliches';
    margin: 14px 0px 5px 0px;
    font-size: 33px;
}

.plantcontainer input {
    padding: 10px;
    font-size: 20px;
    font-family: 'staatliches';
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin: 14px 0  5px 0;
}

.plantcontainer p {
    font-weight: 400;
    margin: 0 0 8px 0;
    font-size: 17px;
}

.textContainer {
    margin-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.textContainer p {
    font-size: 17px;
    font-weight: 400;
}

input.last {
    font-family: chivo;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    width: 90px;
    height: 8px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.plantcontainer select {
    font-family: chivo;
    border-radius: 5px;
    border: none;
    text-align: center;
    border: 1px solid #c2c2c2;
    font-weight: 300;
    font-style: italic;
    font-size:  15px;
}

.plantcontainer select option {
    font-family: chivo;
    font-weight: 300;
    font-style: italic;
    font-size:  15px;
}

.plantcontainer textarea {
    font-family: chivo;
    border-radius: 5px;
    border: none;
    max-width: 235px;
    max-height: 80px;
    border: 1px solid #c2c2c2;
    font-weight: 300;
    font-style: italic;
    font-size:  15px;
}

p.waterFinal {
    margin-top: 7px;
}

p.lightFinal {
    margin-top: 7px;
}

p.otherFinal {
    margin-top: 7px;
}